:root {
    --max-height: 100vh; /* Default fallback */
}

.container{
    background-color: hsl(0, 0%, 15%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.page{
    max-width: 2000px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.pageContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem 1rem;
}

.mainHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.intro{
    font-size: 1.5rem;
    color: #808080;
}

@media screen and (min-height: 1080px) {
    .pageContainer {
        height: 1080px;
        width: 100%;
        display: flex;
    }
}

.sideButtons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.sideButtons button{
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    background: hsl(0, 0%, 5%);
    border: none;
    color: white;
    border-radius: 50%;
}

.gameSection{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    flex: wrap;
}

.popular{
    width: 45em;
    position: relative;
    border-radius: 2rem;
    background: rgb(38,38,38);
    background: linear-gradient(60deg, rgb(32, 32, 32) 0%, rgba(128,128,128,1) 100%);
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    flex-direction: column;
}  

.popularSection{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.popularTag{
    width: auto;
    background-color: hsl(0, 100%, 90%);
    color: hsl(0, 100%, 30%);
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;

    i{
        font-size: 1rem;
        padding: 0;
    }
}

.gameTitle{
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

.popularImage, .popularImage img{
    position: absolute;
    width: 25em;
    height: 25em;
    right: -11em;
    bottom: 0;
    filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
}

.descriptionSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.description{
    color: hsl(0, 0%, 70%);
    width: 70%;
    text-align: justify;
    font-size: .8rem;
}

.playersSection{
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.playerCircles{
    display: flex;
    flex-direction: row;

    .player{
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
        background-color: #808080;
        border: 1px solid black;
    }
}

.playersInfo{
    color: black;
    font-size: .8rem;
    border-radius: 2rem;
    background-color: white;
    padding: 0.5rem 1rem;
}

.box{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sampleline{
    background-color: hsl(0, 0%, 50%);
    width: 100%;
    height: 5em;
    border-radius: 2rem;
}

@media screen and (max-width: 1600px) {
    .main{
        overflow: auto;
    }
    
    .gameSection{
        flex-direction: column;
    }

    .popular{
        width: 80%;
    }
}
